<ul class="comments">
    {% for comment in comments %}
    
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}"/>
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{moment(comment.timestamp).fromNow()}}</div>
            <div class="comment-author"><{{comment.author.username}}</div>
            <div class="comment-body">
                {% if comment.disabled %}
                    <p><i>评论已被删除</i></p>
                {% else %}
                    {% if comment.body_html %}
                        {{comment.body_html|safe}}
                    {% else %}
                        {{comment.body}}
                    {% endif %}
                {% endif %}
            </div>
            {% if moderate %}
                <br/>
                {% if comment.disabled %}
                    <a class="btn btn-default">显示评论</a>
                {% else %}
                    <a class="btn btn-danger">禁止显示</a>
                {% endif %}
            {% endif %}
        </div>

    </li>
    
    
    
    {% endfor %}
</ul>