{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% import "book/_macros.html" as macros %}


{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
</div>
{% endfor %}

<div class ="container">
    <div class ="row">
        <div class = "page-content col-md-12">
            <div class="col-md-4 ">
                <div class="book-img">
                    <img class = "book-big-img" src = "{{book.image_path}}"/>
                </div>
            </div>
             <div class="col-md-8">
                <h2>{{ book.name }}
                </h2>
                <ul class="tags">
                    {% for i in tags %}
                   <li><a href="{{url_for("main.book_tag",name=i.name)}}" class="tag">{{i.name}}</a></li>
                    {% endfor %}
                </ul>
                <div class="book-info">
                     <span class="item-name">图书作者</span>{{book.author}}
                </div>

                <div class ="book-info">
                    <span class="item-name">上传用户</span><a href="{{ url_for("main.user",username=book.upload_user.username)}}">
                    {{book.upload_user.username}}
                    </a>                      
                </div>


                <div class="book-info">
                     <span class="item-name">图书编号</span>{{book.book_number}}
                </div>
                <div class="book-info">
                     <span class="item-name">ISBN编号</span>{{book.isbn}}
                </div>
                <div class="book-info">
                     <span class="item-name">图书类别</span>{{book.category.name}}
                </div>          
                 <div class="book-info">
                     <span class="item-name">出版社</span>{{book.publisher}}
                </div>    
                <div class="book-info">
                     <span class="item-name">库存总量</span>{{book.total_count}}本
                </div>    
                <div class="book-info">
                     <span class="item-name">当前借阅人</span>
                     {% for user in book_rent_users %}
                        <!--判断是否是管理员，如果不是的话则跳转到用户profile页面，否则弹出管理页面处理已借出-->
                        <a data-toggle="tooltip"  title="{{user[1]}}" href="{{url_for("main.user",username=user[1])}}">
                            <img class="img-rounded" src="http://www.gravatar.com/avatar/{{user[2]}}?s=18&amp;d=identicon&amp;r=g"/>
                            &nbsp;
                        </a>

                        <a data-toggle="modal" data-target="#myReturnModal_{{user[0]}}">
                            <img class="img-rounded" src="http://www.gravatar.com/avatar/{{user[2]}}?s=18&amp;d=identicon&amp;r=g"/>
                            &nbsp;
                        </a>
                        <div class="modal fade" id="myReturnModal_{{user[0]}}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">归还图书对话框</h4>
                                </div>
                                <div class="modal-body">
                                    <p>是否确认归还图书《{{book.name}}》({{user[1]}})?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <a href="{{url_for('main.return_book',id=book.id,user_id=user[0])}}" class="btn btn-info">归还图书</a>
                                </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                         </div><!-- /.modal -->

                     {% endfor %}
                </div>
                <div class="book-description">
                     <span class="item-name">图书简介</span>{{book.description}}
                </div>
                <div class="order-button">
                    <a href="{{url_for('main.editbook',id=book.id)}}" class="btn btn-info">编辑图书信息</a>
                    <a data-toggle="modal" data-target="#myDeleteModal" class="btn btn-danger">删除图书</a>
                    {% if book.can_rent() %}
                    <a data-toggle="modal" data-target="#myOrderModal" class="btn btn-info">提交借阅申请</a>
                    {% else %}
                    <button type="button" class="btn btn-danger"  disabled="disabled">暂时无法申请</button>
                    {% endif %}
                </div>
            </div>
        </div>
            {% include "book/_comments.html" %}
    </div>
</div>


<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除图书对话框</h4>
      </div>
      <div class="modal-body">
        <p>确定删除图书《{{book.name}}》?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <a href="{{url_for('main.deletebook',id=book.id)}}" class="btn btn-danger">删除图书</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myOrderModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提交借阅图书对话框</h4>
      </div>
      <div class="modal-body">
        <p>如需提交借阅图书《{{book.name}}》的申请请点击<b>借阅图书</b>按钮，该操作将向图书管理员发送提交邮件，收到管理员确认邮件后即可前往领取图书.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <a href="{{url_for('main.rent_book',id=book.id)}}" class="btn btn-info">借阅图书</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}