{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% import "book/_macros.html" as macros %}
{% block page_content %}
<div class ="container">
    <div class ="row">
        <div class = "page-content col-md-12">
            <div class="col-md-4 page-info">
                <div class="book-img">
                    <img class = "book-big-img" src = "{{book.image_path}}"/>
                </div>
            </div>
            <div class="col-md-8 page-info">
                <h2>{{ book.name }}</h2>
                <ul class="tags">
                    {% for i in tags %}
                    <li><a href="{{url_for("main.ebook_tag",name=i.name)}}" class="tag">{{i.name}}</a></li>
                    {% endfor %}
                </ul>
                <div class="book-info">
                     <span class="item-name">图书作者</span>{{book.author}}
                </div>         
                <div class ="book-author">
                    <span class="item-name">上传用户</span><a href="{{ url_for("main.user",username=book.upload_user.username)}}">
                    {{book.upload_user.username}}
                    </a>                      
                </div>
                <div class="book-info">
                     <span class="item-name">上传日期</span>上传于{{moment(book.created_at).fromNow() }}
                </div>
                 <div class="book-info">
                     <span class="item-name">图书类别</span>{{book.category.name}}
                </div>     

                <div class="book-info">
                     <span class="item-name">文件类型</span>{{book.file_type[1:]}}
                </div>
                 <div class="book-info">
                     <span class="item-name">文件大小</span>{{book.file_size|filesizeformat}}
                </div>
                <div class="book-info">
                     <span class="item-name">下载次数</span>{{book.downloads}}
                </div>
                <div class="book-info">
                     <span class="item-name">图书简介</span>{{book.description}}
                </div>
                <div class="order-button">
                    <a href="{{url_for('main.editebook',id=book.id)}}" class="btn btn-info">编辑图书信息</a>
                    <a data-toggle="modal" data-target="#myDeleteModal" class="btn btn-danger">删除图书</a>
                    <a class="btn btn-info" href={{ url_for('main.download',file_type='ebook',id=book.id)}}>下载</a>
                </div>
            </div>
        </div>
        {% include "book/_comments.html" %}
        </div>
    </div>
</div>

<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除电子图书对话框</h4>
      </div>
      <div class="modal-body">
        <p>确定删除图书《{{book.name}}》</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <a href="{{url_for('main.deleteebook',id=book.id)}}" class="btn btn-danger">删除图书</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}