{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% import "book/_macros.html" as macros %}


{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
</div>
{% endfor %}

<div class ="container">
    <div class ="row">
        <div class="page-header col-md-12">
            <h2>{{ ebook.name }}</h2>
            <h5>{{ ebook.author}}</h5>
        </div> 
        <div class = "page-content">
            <div class="col-md-4">
                <div class="book-img">
                    <img class = "book-big-img" src = "{{ebook.image_path}}"/>
                </div>
                <div class ="book-author">
                    <a href="{{ url_for("main.user",username=ebook.upload_user.username)}}">
                    {{ebook.upload_user.username}}
                    </a>                      
                </div>
                <div class="book-date">
                    上传于{{moment(ebook.created_at).fromNow() }}
                </div>
                <div class="book-description">
                    {{ebook.description}}
                </div>
                <div class="book-download">
                    <a class="btn btn-default" href={{ url_for('main.download',file_type='ebook',id=ebook.id)}}>下载</a>
                </div>
            </div>
        </div>
        {% if can_write_comment %}
        <div class='comment-form  col-md-8'>
            {{ wtf.quick_form(form) }}
        
        {% endif %}
        {% include "book/_comments.html" %}
        {% if pagination %}
        <div class="page-comment">
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'main.ebook',fragment='#comment',id=ebook.id)}}
            </div>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}