{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% import "book/_macros.html" as macros %}


{% block page_content %}
{% for message in get_flashed_messages() %}

<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
</div>
{% endfor %}
<div class ="container">
    <div class ="row">
        <div class="page-header col-md-12">
            {% if tag_name %}
            <ul class="tags inline-block">
                 <li><a class="tag">{{tag_name}}</a></li> 
            </ul>
            {% else %}
            <h2>电子图书列表</h2>
            {% endif %}
            <div class='search-box'>
                <form class='search-form'>
                    <input class='form-control' placeholder='搜索图书' type='text' id="search-term">
                    <button class='btn btn-link search-btn' id="search-btn">
                        <i class='glyphicon glyphicon-search'></i>
                    </button>
                </form>
            </div>
        </div> 
        <div class = "page-content ">
            <ul class="books col-md-12">
                {% for book in ebooks %}
                <li class="book row">
                    <div class="book-thumbnail col-md-2">
                        <a href="{{ url_for("main.ebook",id=book.id)}}">
                            <img class = "book-list-img" src = "{{book.image_path}}"/>
                        </a>
                    </div>
                    <div class = "book-info col-md-10">
                        <div class ="book-name">
                            <a href="{{ url_for("main.ebook",id=book.id)}}">
                            {{book.name}}
                            </a>                      
                        </div>                   
                        <div class ="book-author">
                            <a href="{{ url_for("main.user",username=book.upload_user.username)}}">
                            {{book.upload_user.username}}
                            </a>                      
                        </div>

                        <div class="book-date">
                            上传于{{moment(book.created_at).fromNow() }}
                        </div>
                        <div class="book-description">
                           {{book.description}}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
           {% if pagination.pages > 1 %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'main.ebooks')}}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}