{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{% block styles %}
{{super()}}
<style>
    body{
        overflow-x:hidden;
        /*background-color: #0c99d5;*/
        background-image: url(//dp3vjvsy1r9i0.cloudfront.net/resources/background/radialoverlay2.png);
        background-position: top center;
        background-attachment: fixed;
        background-size: cover;
        background-color: #1D5D7C;
    }

</style>
{% endblock %}

{% block page_content %}

<div class ="container">
    <div class ="row">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        {% endfor %}    
            <div class="std-form">       
                <form action method="post" class="form" role="form" enctype="multipart/form-data">
                <div class="form-group  required"><label class="control-label" for="name">名称</label>
                    <input class="form-control" id="name" name="name" required="" value="{{form.name.data}}" type="text">
                    {% for error in form.errors.name %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-group "><label class="control-label" for="author">作者</label>
                    <input class="form-control" id="author" name="author" value="{{form.author.data}}" type="text">
                    {% for error in form.errors.author %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-group "><label class="control-label" for="publisher">出版社</label>
                    <input class="form-control" id="publisher" name="publisher" value="{{form.publisher.data}}" type="text">
                    {% for error in form.errors.publisher %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>

                <div class="form-group "><label class="control-label" for="book_number">编号</label>
                    <input class="form-control" id="book_number" name="book_number" value="{{form.book_number.data}}" type="text">
                    {% for error in form.errors.book_number %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-group "><label class="control-label" for="isbn">图书ISBN</label>
                    <input class="form-control" id="isbn" name="isbn" value="{{form.isbn.data}}" type="text">
                    {% for error in form.errors.isbn %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-group "><label class="control-label" for="isbn">图书标签</label>
                     <input class="form-control" id="tag" name="tag" value="{{tags}}" type="text">
                    {% for error in form.errors.tag %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>

                <div class="form-group "><label class="control-label" for="total_count">图书数量</label>
                    <input class="form-control" id="total_count" name="total_count" value="{{form.total_count.data}}" type="text">
                    {% for error in form.errors.total_count %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-group "><label class="control-label" for="category">选择类别</label>
                    {{ form.category(class="form-control") }}
                    {% for error in form.errors.category %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                
                <div class="form-group "><label class="control-label" for="status">选择图书状态</label>
                    {{ form.status(class="form-control") }}
                    {% for error in form.errors.status %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>

                <div class="form-group "><label class="control-label" for="description">简短介绍</label>
                    <textarea class="form-control" id="description" name="description">{{form.description.data}}</textarea>
                    {% for error in form.errors.description %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-group  required"><label class="control-label" for="book_img">上传封面</label>
                    <input id="book_img" name="book_img" type="file">
                    {% for error in form.errors.book_img %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                </div>
                {{form.hidden_tag()}}
                <input class="btn btn-default" id="submit" name="submit" value="点击创建" type="submit">
            </form>
        </div>
    </div>
</div>








{% endblock %}