body{
    overflow-x:hidden;
    font-family: 'Hiragino Sans GB','Microsoft Yahei',Arial,sans-serif;
    padding-top: 70px;
}
a{
    text-decoration:none;
}
.navbar{
    border-radius:0px;
}
.page-header h2 {
    margin-top: 10px!important;
    margin-bottom: 10px;
    display: inline-block;
}
.center-box{
    position: absolute;
    /*top:50%;
    left: 50%;*/
    /*transform: translate(50%, 50%);*/
}
.page-header{
    margin-top: 0px!important;
}

#myDeleteModal  .modal-header{
    background-color: #d43f3a;
    color: white;
    font-weight: bold;
}
#myOrderModal  .modal-header{
    background-color: #5bc0de;
    color: white;
    font-weight: bold;
}

.small_book_list img{
    max-height: 3em;
}
.bold{
    font-weight: bold;
}
/*tooltip*/
span.tooltip {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 44px;
      left: 50px;
}

/* Tags */
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}
.inline-block{
    display: inline-block;
}
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag {
  background-color: #9e9e9e;
  color: white;
  text-decoration: none;
}

.tag::after {
   border-left-color: #9e9e9e; 
}

/**/
.std-form{
    color: #fff;
    color: hsla(0, 0%, 0%, 0.75);
    background-color: white;
    padding: 2em 2em 2em 2em;
    border-radius: 1em;
    border: .6em solid rgba(5, 70, 95, 0.87);
    width: 50%;
    transform:translate(50%, 0%);
}
.std-form .title{
    margin: 1em 0;
    text-shadow: 0px 1px 0px #333;
}
.std-form .btn{
    background-color: #176f98!important;
    color: white!important;
    font-weight: bold!important;
}
.std-form .link-item{
    float: right;
    font-weight: bold;
    color: inherit!important;
}
.std-form .link-item a{
    color: hsla(0, 0%, 0%, 0.75);
}

.std-form .alert{
    margin: 0!important;
}

/*Comment CSS*/
.detailBox {
    border:1px solid #bbb;
    margin:10px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
/* Comment CSS */

.item-name{
    display: inline-block;
    width: 8em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.6em;
}
.order-button{
    margin: 1em 0;
}
ul.books{
    list-style: none; 
    margin: 0 0 0 4px;
    padding: 0;
}
.page-info{
    margin-bottom: 2em;
}
.page-info .book-big-img{
    max-width: 90%;
    padding: 1em;
    box-shadow: 0.1em 0.4em 0.1em 0.1em rgb(199, 199, 199);
}
ul.books img.book-list-img{
    width: 160px;
    height: 160px;
}
ul.books li{
    margin-bottom: 20px;
}
.book-info{
    line-height: 1.8em;
}
.book-img{
    margin-top: 1em;
}
.book-info .book-name{
    font-size: 1.3em;
    font-weight: bold; 
}

.book-info a{
    color:black;
}
.book-date{
    color:gray;
    font-size: 0.7em;
}

/*Search Bar*/
.search-box {
  display: inline-block;
  width: 50%;
  float: right;
  border-radius: 1px;
  padding: 4px 55px 4px 15px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box.hovered, .search-box:hover, .search-box:active {
  border: 1px solid #aaa;
}
.search-box input[type=text] {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
}
.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
  box-shadow: none;
}
.search-box .search-btn {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #aaa;
  border-radius: 3px;
  font-size: 21px;
  padding: 5px 10px 1px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box .search-btn:hover {
  color: #fff;
  background-color: #8FBE00;
}


