<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <b>{{user.username}}</b>,您好:

        欢迎注册使用Flask-BMS系统，请点击<a href="{{url_for('auth.confirm',token=token,_external=True)}}">此链接</a>进行账号的激活,激活链接将于1小时后失效。
        
            <small>如果程序未打开web链接，请尝试复制下面的链接地址到浏览器中访问：
        {{url_for('auth.confirm',token=token,_external=True)}}</small>
        
        祝您一天愉快
        
        Mike@Flask.BMS
    </body>
</html>