<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p><b>{{username}}</b> 您好:</p>

        请<a href="{{url_for('auth.resetpassword',username=username,token=token,_external=True)}}">点击此链接</a>进行邮件的重置操作,重置链接将于1小时后失效，请尽快操作。
        <br>
        <p><small>如果程序未打开web链接，请尝试复制下面的链接地址到浏览器中访问：
        {{url_for('auth.resetpassword',username=username,token=token,_external=True)}}</small></p>
        <hr>
        祝您一天愉快
    </body>
</html>