{% extends "bootstrap/base.html" %}
{% block title %}BMS图书管理系统{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
               首页
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图书管理 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('main.books')}}">书籍列表</a></li>
                    <li><a href="{{ url_for('main.addbook')}}">新增书籍</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">电子书管理 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('main.ebooks')}}">电子书列表</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.upload_ebooks') }}">上传电子书</a></li>
                    {% endif %}
                </ul>
            </li>
            {% if current_user.is_authenticated and current_user.is_super_admin() %}
                <li><a href="{{ url_for('admin.admin_dashboard')}}">管理界面</a></li>
            {% endif %}
            </ul>
             <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user',username=current_user.username)}}">用户首页</a></li>
                        <li><a href="{{ url_for('auth.changepassword') }}">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">用户退出</a></li>
                    </ul>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false">用户管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.login') }}">用户登入</a></li>
                        <li><a href="{{ url_for('auth.register') }}">用户注册</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock%}

{% block content %}
    {% block page_content %}
    {% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-cn')}}
<script src="https://cdn.bootcss.com/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>

{% endblock %}